html, body {
    margin:0;
    padding:0;
}

h1 {
    font-family: Helvetica;
}

body {
    background-image: url(classpage/chevron.png);
    margin: 30px;
}

p1 {
    font-family: Helvetica;
}

.column:hover {
background-color: red 
}

.column:active {
    background-color:blue;
}

.box {
    width: 200px;
    height: 100px;
    background-color: white;
}

.wrapper {
    width: 300px;
    background-color: white;
}

.column {
    width: 100px;
    background-color: lime;
    float: left;
}

a:link {
    font-family: Helvetica;
    color: black;
}

a:visited {
    color: teal;
}