h1 {
    text-align: center;
    font-size: 80;
    margin: -20;
    font-family: Archer;
    opacity: .6;
    background-color: #565656;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(167,219,219,.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

h2 {
    text-align: center;
    font-size: 14;
    font-family: Archer;
    opacity: .6;
    background-color: #565656;
    padding-bottom: 8;
    color: transparent;
    text-shadow: 0px 1px 2px rgba(68,219,219,.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

body {
    background: #cbe5e3;
    margin: 0;
    padding: 0;
}

hr {
    margin-bottom: 40;
    width: auto;
    color: #44dbdb;
    display: block;
    height: 0;
}

.submit {
    text-align: center;
}

.month, .day {
    display: inline;
}

.date {
    text-align: center;
}

#searchbody {
	float: right;
	padding-top: 20px;
	padding-left: 70%;

}

.bar {
		margin: 0;
		padding: 2px 10px;
		font-family: Archer;
		font-size: 12px;
		border: 2px solid #99c7c8; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		background-color: transparent;
}

.button {
		margin: 0;
		padding: 3px 3px;
		font-family: Archer;
		font-size: 12px;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #a7dbdb; border-right:0px;
		background: #a7dbdb;
		background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#565656));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #565656;
		background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}